<h1>Home#index</h1>
<p>Testing the calendarific api</p>
<hr>
<table>
  <thead>
    <tr>
      <th>Holiday</th>
      <th>Description</th>
      <th>DateTime</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @national_holidays.each do |holiday| %>
      <tr>
        <td><%= holiday['name'] %></td>
        <td><%= holiday['description'] %></td>
        <td><%= holiday['date']['iso'] %></td>
        <td><%= holiday['type'] %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<hr>
